
.banner-image{
  padding-top: 50px;
  padding-bottom: 50px; 
  text-align: center; 
  color: #f8f8f8;    
  background: url("images/background-img2.jpg") no-repeat center center;  
  background-size: cover; 
  min-height:700px;
  width:100%;
  
}
.banner-content{
	
	position:relative;
	margin-top:6%;
	margin-bottom:6%;
	margin-left:18%;
	margin-right:12%;
	padding:6%;
	background-color:rgba(0,0,0,0.7);
	max-width:660px;
	
}

.mycontainer{
	
	width:100%;
}

.wrapper{
	
	width:1000px;
	margin:auto;
	
}

.content{
	
  text-align:center;
  width:330px;
  padding:5px;
  margin-left:20px;
  margin-bottom:20px;
  margin-top:20px;
  border:3px solid #E4DFDE;
  display:inline-block;
  
  border-radius:3px;
}
.content a{
	text-decoration:none;
}
.content img{
	
	width:200px;
	height:200px;
	margin:auto;
	
}

footer{
	height:40px;
	line-height:30px;
	background-color:black;
	margin:auto;
	text-align:center;
	margin:auto;
	color:white;
	size:20px;
	
	
	
}
.clear{
	clear:both;
}